*venv.zip
mapreduce-*.tar.gz
*,cover
htmlcov/
mapreduce/venv-current.tar.gz

*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build/
_build/
src/build/
*.log

!.coveragerc
!.gitlab-ci.yml
!.pylintrc

# Don't ignore this file itself
!.gitignore
