[[source]]
name = "ia"
url = "https://devpi.archive.org/wb/prod"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=4"
pytest-pythonpath = "*"
pytest-pylint = "*"
responses = ">=0.10"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"
ipython = "*"
mypy = "*"
flake8 = "*"
flake8-annotations = "*"
isort = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
types-dateparser = "*"
types-psycopg2 = "*"
types-Pillow = "*"

# must lock black to an exact version because it is still "beta"
# see: https://github.com/psf/black/issues/517
black = "==21.9b0"

[packages]
requests = ">=2"
raven = {extras = ['flask'],version = "*"}
confluent-kafka = "*"
python-snappy = "*"
boto3 = "*"
minio = "<7.0.0"
psycopg2 = "*"
bs4 = "*"
python-magic = "*"
ftfy = "*"
internetarchive = "*"
Flask = ">=1"
urlcanon = "*"
Pillow = ">=3"
python-poppler = ">=0.2.1"
selectolax = ">=0.2"
trafilatura = ">=1"
pydantic = ">=1.7"
dateparser = "*"
braveblock = "*"
dynaconf = ">=3"
sentry-sdk = { version = ">=0.14.0", extras = [] }
zstandard = "*"
grobid_tei_xml = ">=0.1.2,<0.2.0"
PyMuPDF = ">=1.19.0,<1.20.0"

[requires]
python_version = "3.8"

[packages.globalwayback]
version = ">=0.6.5"
index = "ia"

[packages.wayback]
version = ">=0.6.3"
index = "ia"
