[[source]]
name = "ia"
url = "https://devpi.archive.org/wb/prod"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = ">=4"
pytest-pythonpath = "*"
pytest-pylint = "*"
responses = ">=0.10"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"

[packages]
requests = ">=2"
raven = {extras = ['flask'],version = "*"}
pykafka = "*"
confluent-kafka = "*"
python-snappy = "*"
boto3 = "*"
minio = "*"
psycopg2 = "*"
bs4 = "*"
python-magic = "*"
ftfy = "*"
internetarchive = "*"
Flask = ">=1"

[requires]
python_version = "3.5"

[packages.globalwayback]
version = ">=0.3"
index = "ia"

[packages.wayback]
version = ">=0.2.1.2"
index = "ia"
