[[source]]
name = "ia"
url = "https://devpi.archive.org/wb/prod"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=4"
pytest-pythonpath = "*"
pytest-pylint = "*"
responses = ">=0.10"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"
ipython = "*"
mypy = "*"
pytype = "*"
flake8 = "*"
flake8-annotations = "*"

[packages]
requests = ">=2"
raven = {extras = ['flask'],version = "*"}
confluent-kafka = "*"
python-snappy = "*"
boto3 = "*"
minio = "*"
psycopg2 = "*"
bs4 = "*"
python-magic = "*"
ftfy = "*"
internetarchive = "*"
Flask = ">=1"
urlcanon = "*"
pillow = ">=3"
python-poppler = ">=0.2.1"
selectolax = ">=0.2"
trafilatura = "*"
pydantic = ">=1.7"
dateparser = "*"
braveblock = "*"
dynaconf = ">=3"
sentry-sdk = { version = ">=0.14.0", extras = [] }
zstandard = "*"

# must lock black to an exact version because it is still "beta"
# see: https://github.com/psf/black/issues/517
black = "==19.10b0"

[requires]
python_version = "3.7"

[packages.globalwayback]
version = ">=0.6.5"
index = "ia"

[packages.wayback]
version = ">=0.6.3"
index = "ia"
