[[source]]
name = "ia"
url = "https://devpi.archive.org/wb/prod"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
happybase-mock = "*"
pytest = "*"
pytest-pythonpath = "*"
responses = "*"

[packages]
globalwayback = {version=">=0.3", index="ia"}
happybase = "*"
mrjob = "*"
requests = "*"
wayback = {version=">=0.2.1.2", index="ia"}
xmltodict = "*"

[requires]
python_version = "3.5"
